 {% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
        
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/jquery-ui/jquery-ui.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
    <body>
        {% url 'index' as index %}
        {% url 'about' as about %}
        {% url 'properties' as properties %}
        {% url 'agents' as agents %}
        {% url 'elements' as elements %}
        {% url 'blog' as blog %}
        {% url 'contact' as contact %}
        {% url 'sign_up' as sign_up %}
        {% url 'sign_in' as sign_in %}
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item {% if request.path == index %} active {% endif %}"><a class="nav-link" href="{% url 'index' %}">bosh sahifa</a></li> 
								<li class="nav-item {% if request.path == about %} active {% endif %}"><a class="nav-link" href="{% url 'about' %}">About</a></li>
								<li class="nav-item {% if request.path == properties %} active {% endif %}"><a class="nav-link" href="{% url 'properties' %}">Barcha e'lonlar</a></li>
								<li class="nav-item {% if request.path == agents %} active {% endif %}"><a class="nav-link" href="{% url 'agents' %}">bizning jamoa</a></li>
                                  
                                <li class="nav-item submenu dropdown active ">
									<a href="personal" class="nav-link dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shaxsiy kabinet</a>
									<ul class="dropdown-menu  {% if request.path == elements %} active {% endif %}">
                                        <li class="nav-item"><a class="nav-link" href="{{user.username}}">mening e'lonlarim</a></li>
										<li class="nav-item  {% if request.path == elements %} active {% endif %}"><a class="nav-link" href="{{user.username}}add_announcement">E'lon berish</a></li>
<<<<<<< HEAD
                                        <li class="nav-item active"><a class="nav-link" href="#">Post qoldirish</a></li>
                                        <li class="nav-item  {% if request.path == elements %} active {% endif %}"><a class="nav-link" href="{% url 'profile' %}">Shaxsiy sahifa</a></li>
=======
>>>>>>> origin
									</ul>
                                </li> 
                                
								<li class="nav-item {% if request.path == blog  %} active {% endif %}"><a class="nav-link" href="{% url 'blogpost' %}">Blog</a></li>
								<li class="nav-item {% if request.path == contact %} active {% endif %}"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                                
								<!-- <li class="nav-item "><a class="nav-link" href="logout">logout</a></li> -->
                                <form action="{% url 'logout' %}" method="post">
                                        <li class="nav-item">
                                        {% csrf_token %}
                                        <button type="submit" style="border: none; width: 100%; text-align: left; background: none; cursor: pointer; " class="nav-link" >chiqish</button>
                                    </li>
                                </form>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header> 
        <!--================Header Menu Area =================-->
       <!--================Properties Area =================-->

<div class="container" style="margin-bottom: 45px">

	<div class="main_title">
		<h2>Our Top Rated Properties</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
	</div>
    {% if elonlar %}
    <div class="row properties_inner" >
    {% for i in elonlar %}
        			<div class="col-lg-4" style="margin-bottom: 30px;">
        				<div class="properties_item">
        					<div class="pp_img">
        						<img class="img-fluid" src="{{ i.rasm1.url }}" alt="" style="border-radius: 13px; height: 215px; width: 100%;">
        					</div>
        					<div class="pp_content">
        						<a href="#"><h4>Material: {{ i.metall }}</h4></a>
        						<div class="tags">
        							<a>Issiqxona maydoni: {{ i.m2 }}m<sup style="color: black;" >2</sup></a>
                                    {% if i.eskiNarx %}
        							<a >eski narx:  <del style="color: rgb(39, 38, 38);">{{i.eskiNarx}}</del> so'm</a>
                                    {% endif %}	
        							<a >Narx:  {{ i.hozirgiNarx }} so'm</a>
        						</div>
        						<div class="pp_footer">
        							sana: {{ i.sana|date:"d M Y" }}
<<<<<<< HEAD
        							<a class="main_btn " href="{% url 'oneannouncement' i.id %}">Batafsil..</a>
=======
        							<a class="main_btn" href="{% url 'oneannouncement' i.id %}">Batafsil..</a>
>>>>>>> origin
                                </div>
                                {% for i in user %}
                                <p>Joylashtirdi: {{ i.first_name }} {{ i.last_name }}</p> 
                                {% endfor %}
                                <!-- ikkinchi usul -->
                                {{ user.first_name }}
        					</div>
        				</div>
        			</div>
    {% endfor %}
<<<<<<< HEAD
        <div class="col-md-12">
            
            <nav class="blog-pagination justify-content-center d-flex">
                <ul class="pagination">
                    <li class="page-item">{% if elonlar.has_previous %}
                        <a href="?page={{elonlar.previous_page_number}}" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">
                                <span class="lnr lnr-chevron-left"></span>
                            </span>
                        </a>{% endif %}
                    </li>

                    {% for i in elonlar.paginator.page_range %}
                        {% if elonlar.number == i %}
                            <li class="page-item active" style="padding: 4px 12px; color: white; background: #f5204b"><span>{{ i }} </span></li>
                        {% elif i > elonlar.number|add:'-7' and i < elonlar.number|add:'7' %}
                        <li class="page-item "><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                        {% endif %}
                    {% endfor %} 

                    <li class="page-item">{% if elonlar.has_next %}
                        <a href="?page={{elonlar.next_page_number}}" class="page-link" aria-label="Next">
                            <span aria-hidden="true">
                                <span class="lnr lnr-chevron-right"></span>
                            </span>
                        </a>{% endif %}
=======
    {% url 'elements' as elements %}
        <div class="col-md-12" style="padding-left: 78px">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                    {% if elonlar.has_previous %}
                    <a href="?page={{elonlar.previous_page_number}}" class="page-link">Orqaga</a>
                    {% endif %}
                    </li>

                    {% for i in elonlar.paginator.page_range %}
                    {% url 'properties/?page={{i}}' as elements %}
                    {% if request.path == elements %}
                        <span>{{i}}</span>
                    {% else %}
                    <li class="page-item"><a class="page-link " href="?page={{i}}" >{{i}}</a></li>
                    {% endif %}
                    {% endfor %}    

                    <li class="page-item">
                    {% if elonlar.has_next %}
                    <a href="?page={{elonlar.next_page_number}}" class="page-link">Oldinga</a>
                    {% endif %}
>>>>>>> origin
                    </li>
                </ul>
            </nav>
        </div>
        
    </div>
    </div>
		
    {% else %}
    <h1> E'lomlar hali mavjud emas!</h1>
    {% endif %}
</div>


        <!--================End Properties Area =================-->
 

        <!--================ start footer Area  =================-->	
        <footer class="footer-area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About Us</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Newsletter</h6>
                            <p>Stay updated with our latest trends</p>		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">Instagram Feed</h6>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="{% static 'img/instagram/Image-01.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-02.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-03.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-04.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-05.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-06.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-07.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-08.jpg' %}" alt=""></li>
                            </ul>
                        </div>
                    </div>	
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget f_social_wd">
                            <h6 class="footer_title">Follow Us</h6>
                            <p>Let us be social</p>
                            <div class="f_social">
                            	<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>						
                </div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-12 footer-text text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="{% static 'https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'vendors/jquery-ui/jquery-ui.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
    </body>
</html> 