{% extends "base.html" %}
{% load static %}

{% block title %}
<title>shaxsiy sahifaga hush kelibsiz</title>
{% endblock title %}

{% block content %}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="contact.html">Contact</a>
                </div>
                <h2>Contact Us</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-6">
            <h1>FIO: {{ request.user.first_name}}  {{ request.user.last_name}}</h1>
            <p>email: {{request.user.email}}</p>
            <p>Tel: {{request.user.userdetail.mobile}}</p>
        </div>
        <div class="col-6">
            <img src="{{request.user.userdetail.image.url}}" alt="" width="25%" style="box-shadow: 5px 5px 5px;">
        </div>
    </div>
    
    <br><hr>
    <form method="POST" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
        {% if u_form or p_form %}
        {{u_form.as_p}}
        {{p_form.as_p}}
        {% else %}
        <p></p>
        {% endif %}
        <button type="submit" class="genric-btn info form-control" style="font-size: medium; margin-bottom: 20px;">Saqlash</button>
        <a href="/" class="genric-btn danger-border form-control" style="width: 100%; margin-bottom: 15px; font-size: medium;">Orqaga</a>
    </form> 

</div>

{% endblock content %}   