{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
        
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/jquery-ui/jquery-ui.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
    <body>
        {% url 'index' as index %}
        {% url 'about' as about %}
        {% url 'properties' as properties %}
        {% url 'agents' as agents %}
        {% url 'elements' as elements %}
        {% url 'blog' as blog %}
<<<<<<< HEAD
=======
        {% url 'singleblog' as singleblog %}
>>>>>>> origin
        {% url 'contact' as contact %}
        {% url 'sign_up' as sign_up %}
        {% url 'sign_in' as sign_in %}
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
<<<<<<< HEAD
								<li class="nav-item {% if request.path == index %} active {% endif %}"><a class="nav-link" href="{% url 'index' %}">bosh sahifa</a></li> 
								<li class="nav-item {% if request.path == about %} active {% endif %}"><a class="nav-link" href="{% url 'about' %}">About</a></li>
								<li class="nav-item {% if request.path == properties %} active {% endif %}"><a class="nav-link" href="{% url 'properties' %}">Barcha e'lonlar</a></li>
								<li class="nav-item {% if request.path == agents %} active {% endif %}"><a class="nav-link" href="{% url 'agents' %}">bizning jamoa</a></li>
                                  
                                <li class="nav-item submenu dropdown active">
=======
								<li class="nav-item {% if request.path == index %} active {% endif %}"><a class="nav-link" href="{% url 'index' %}">Home</a></li> 
								<li class="nav-item {% if request.path == about %} active {% endif %}"><a class="nav-link" href="{% url 'about' %}">About</a></li>
								<li class="nav-item {% if request.path == properties %} active {% endif %}"><a class="nav-link" href="{% url 'properties' %}">Properties</a></li>
								<li class="nav-item {% if request.path == agents %} active {% endif %}"><a class="nav-link" href="{% url 'agents' %}">Team</a></li>
                                  
                                <li class="nav-item submenu dropdown  {% if request.path == elements %} active {% endif %}">
>>>>>>> origin
									<a href="personal" class="nav-link dropdown-toggle  {% if request.path == elements %} active {% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shaxsiy kabinet</a>
									<ul class="dropdown-menu  {% if request.path == elements %} active {% endif %}">
                                        <li class="nav-item"><a class="nav-link" href="../{{user.username}}">mening e'lonlarim</a></li>
										<li class="nav-item  {% if request.path == elements %} active {% endif %}"><a class="nav-link" href="../{{user.username}}/add_announcement">E'lon berish</a></li>
<<<<<<< HEAD
                                        <li class="nav-item  {% if request.path == elements %} active {% endif %}"><a class="nav-link" href="{% url 'profile' %}">Shaxsiy sahifa</a></li>
									</ul>
                                </li> 
                                
								<li class="nav-item {% if request.path == blog  %} active {% endif %}"><a class="nav-link" href="{% url 'blogpost' %}">Blog</a></li>
=======
									</ul>
                                </li> 
                                
								<li class="nav-item submenu dropdown  {% if request.path == blog or request.path == singleblog %} active {% endif %}">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
										<li class="nav-item"><a class="nav-link" href="{% url 'singleblog' %}">Blog Details</a></li>
									</ul>
								</li> 
>>>>>>> origin
								<li class="nav-item {% if request.path == contact %} active {% endif %}"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                                
								<!-- <li class="nav-item "><a class="nav-link" href="logout">logout</a></li> -->
                                <form action="{% url 'logout' %}" method="post">
                                        <li class="nav-item">
                                        {% csrf_token %}
                                        <button type="submit" style="border: none; width: 100%; text-align: left; background: none; cursor: pointer; " class="nav-link" >chiqish</button>
                                    </li>
                                </form>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header> 
        <!--================Header Menu Area =================-->
        <!--================Header  =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content">
						<div class="page_link">
							<a href="index.html">Home</a>
							<a href="gallery.html">Gallery</a>
						</div>
						<h2>About Us</h2>
					</div>
				</div>
            </div>
        </section>
        <!--================ end Header  =================-->

<div class="container" style="padding-top: 30px;">



        
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Issiqxona xaqida e'lon berish</a>
            </li>
            <li class="nav-item">
<<<<<<< HEAD
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Post qoldirish</a>
=======
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">O'zingiz xoxlagan turdagi e'lonni joylashtiring</a>
>>>>>>> origin
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Shaxsiy ma'lumotlar</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="form-group"  style="padding-top: 20px;">
                    <form  method="POST" class="form-group" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 form-group" id="left">
                                <select name="metall"  id="view_id" required>
                                    <option disabled selected>metall turini tanlang..</option>
                                    <option required>Armatura</option>
                                    <option required>Daewoo</option>
                                    <option required>Kantiner</option>
                                    <option required>Truba</option>                
                                </select><br><br>
                                <label for="price_id">Eski narx</label>
                                <input type="number" class="form-control" name="eskiNarx" id="price_id">
                                <label for="hozirgiNarx">Hozirgi narx</label>
                                <input type="number" class="form-control" name="hozirgiNarx" id="hozirgiNarx" required>
                                <label for="m2">Maydon (m<sup><small style="color: rgb(116, 110, 110);">2</small></sup>)</label>
                                <input type="number" class="form-control" name="m2" id="m2" required>
                            </div>
                            <div class="col-6 form-group" id="right">
                                <label for="img" >Asosiy rasmni</label>
                                <input type="file" class="form-control" accept="image/*" name="rasm1" id="img" required>
                                <label for="img2">Qo'shimcha rasm 1</label>
                                <input type="file" class="form-control" accept="image/*" name="rasm2" id="img2">
                                <label for="img3">Qo'shimcha rasm 2</label>
                                <input type="file" class="form-control" accept="image/*" name="rasm3" id="img3">
                                <label for="time" required>sana</label>
                                <input type="date" class="form-control" name="time">
                            </div>
                        </div>
                        <label for="qushimcha" >Qo'shimcha ma`lumot</label>
                        <input type="text" class="form-control"  name="qushimcha" id="qushimcha"><br>
                        
                        
                    <button type="submit" class="genric-btn info"   style="font-size: medium;">E'lon yaratish</button>
                    
                    </form>
                </div>

            </div>
            
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
<<<<<<< HEAD
                 <h1>Yangi post yaratish</h1>

            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <h1>FIO: {{ request.user.first_name}}  {{ request.user.last_name}}</h1>
                <p>email: {{request.user.email}}</p>
                <br><hr>
                <form method="POST" class="form-group" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{u_form.as_p}}
                    {{p_form.as_p}}
                    <button type="submit" class="genric-btn info form-control" style="font-size: medium; margin-bottom: 20px;">Saqlash</button>
                    <a href="/" class="genric-btn danger-border form-control" style="width: 100%; margin-bottom: 15px; font-size: medium;">Orqaga</a>
                </form>
=======
                <h1> e'lonlar yo'q++</h1>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <h1> shaxsiy ma'lumotlar yo`q</h1>
>>>>>>> origin
            </div>
        </div>
</div>


        <!--================ start footer Area  =================-->	
        <footer class="footer-area p_120">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3  col-md-6 col-sm-6">
                      <div class="single-footer-widget">
                          <h6 class="footer_title">About Us</h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="single-footer-widget">
                          <h6 class="footer_title">Newsletter</h6>
                          <p>Stay updated with our latest trends</p>		
                          <div id="mc_embed_signup">
                              <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                  <div class="input-group d-flex flex-row">
                                      <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                      <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                  </div>									
                                  <div class="mt-10 info"></div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="single-footer-widget instafeed">
                          <h6 class="footer_title">Instagram Feed</h6>
                          <ul class="list instafeed d-flex flex-wrap">
                              <li><img src="{% static 'img/instagram/Image-01.jpg' %}" alt=""></li>
                              <li><img src="{% static 'img/instagram/Image-02.jpg' %}" alt=""></li>
                              <li><img src="{% static 'img/instagram/Image-03.jpg' %}" alt=""></li>
                              <li><img src="{% static 'img/instagram/Image-04.jpg' %}" alt=""></li>
                              <li><img src="{% static 'img/instagram/Image-05.jpg' %}" alt=""></li>
                              <li><img src="{% static 'img/instagram/Image-06.jpg' %}" alt=""></li>
                              <li><img src="{% static 'img/instagram/Image-07.jpg' %}" alt=""></li>
                              <li><img src="{% static 'img/instagram/Image-08.jpg' %}" alt=""></li>
                          </ul>
                      </div>
                  </div>	
                  <div class="col-lg-2 col-md-6 col-sm-6">
                      <div class="single-footer-widget f_social_wd">
                          <h6 class="footer_title">Follow Us</h6>
                          <p>Let us be social</p>
                          <div class="f_social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-behance"></i></a>
                          </div>
                      </div>
                  </div>						
              </div>
              <div class="row footer-bottom d-flex justify-content-between align-items-center">
                  <p class="col-lg-12 footer-text text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="{% static 'https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
              </div>
          </div>
      </footer>
  <!--================ End footer Area  =================-->
      
      
      
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
      <script src="{% static 'js/popper.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/stellar.js' %}"></script>
      <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
      <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
      <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
      <script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
      <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
      <script src="{% static 'vendors/jquery-ui/jquery-ui.js' %}"></script>
      <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
      <script src="{% static 'js/mail-script.js' %}"></script>
      <script src="{% static 'js/theme.js' %}"></script>
  </body>
</html> 