{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Bizning jamoa</title>
{% endblock title %}


{% block content %}   
  <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content">
						<div class="page_link">
							<a href="index.html">Home</a>
							<a href="contact.html">Agents</a>
						</div>
						<h2>Agents</h2>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
		<br><br>
<<<<<<< HEAD
        
=======
{% comment %} <div class="container">
                <div class="form-group"  style="padding-top: 20px;">    
                    <form action="{% url 'edit_announcement' elon.id %}"  method="POST" class="form-group" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 form-group" id="left">
                                <select name="metall"  id="view_id" required value="{{elon.metall}}">
                                    <option required>{{ elon.metall }}</option>
                                    <option disabled>metall turini tanlang..</option>
                                    <option required>Armatura</option>
                                    <option required>Daewoo</option>
                                    <option required>Kantiner</option>
                                    <option required>Truba</option>                 
                                </select><br><br>
                                <label for="price_id">Eski narx</label>
                                <input type="number" class="form-control" name="eskiNarx" id="price_id" value="{{elon.eskiNarx}}">
                                <label for="hozirgiNarx">Hozirgi narx</label>
                                <input type="number" class="form-control" name="hozirgiNarx" id="hozirgiNarx" required value="{{elon.hozirgiNarx}}">
                                <label for="m2">Maydon (m<sup><small style="color: rgb(116, 110, 110);">2</small></sup>)</label>
                                <input type="number" class="form-control" name="m2" id="m2" required value="{{elon.m2}}">
                            </div>
                            <div class="col-6 form-group" id="right">
                                <label for="img" >Asosiy rasmni</label>
                                <input type="file" class="form-control" accept="image/*" name="rasm1" id="img" required value="{{elon.rasm1.url}}">
                                <label for="img2">Qo'shimcha rasm 1</label>
                                <input type="file" class="form-control" accept="image/*" name="rasm2" id="img2" value="{{elon..rasm2.url}}">
                                <label for="img3">Qo'shimcha rasm 2</label>
                                <input type="file" class="form-control" accept="image/*" name="rasm3" id="img3" value="{{elon..rasm3.url}}">
                                <label for="time" required>sana</label>
                                <input type="date" class="form-control" name="time" value="{{elon.sana}}">
                                <p disabled>Joylashtirdi: {{ elon.author.first_name }} {{ elon.author.last_name }}</p>
                            </div>
                        </div>
                        <label for="qushimcha" >Qo'shimcha ma`lumot</label>
                        <input type="text" class="form-control"  name="qushimcha" id="qushimcha" value="{{elon.qushimcha}}"><br>
                        
                        
                        {% if elon.author == request.user %}
                            <div class="container col-12">
                                <div class="row" style="display: flex; align-items: center; justify-content: center;">
                                    <!-- <div style="padding-left: 20px;" > -->
                                    <button type="submit" class="genric-btn info" style="font-size: medium; margin-bottom: 20px;">E'lonni saqlash</button>
                                    <a href="{% url 'oneannouncement' elon.id %}" class="genric-btn danger-border" style="width: 100%; margin-bottom: 15px; font-size: medium;">Orqaga</a>
                                    
                                </div>
                            </div>
                        {% endif %}
                    </form>
                </div>
</div> {% endcomment %}
>>>>>>> origin
<div class="container">
<form   method="POST" class="form-group" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
<<<<<<< HEAD
    <button type="submit" class="genric-btn info form-control" style="font-size: medium; margin-bottom: 20px;">E'lonni saqlash</button>
    <a href="/properties/" class="genric-btn danger-border form-control" style="width: 100%; margin-bottom: 15px; font-size: medium;">Orqaga</a>
=======
    <button type="submit" class="genric-btn info" style="font-size: medium; margin-bottom: 20px;">E'lonni saqlash</button>
    <a href="#" class="genric-btn danger-border" style="width: 100%; margin-bottom: 15px; font-size: medium;">Orqaga</a>
>>>>>>> origin

</form>
    </div>    
{% endblock content %}