{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Bizning jamoa</title>
{% endblock title %}


{% block content %}        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content">
						<div class="page_link">
							<a href="index.html" style="color: rgb(255, 255, 255);">Home</a>
							<a href="contact.html" style="color: rgb(255, 255, 255);">Agents</a>
						</div>
						<h2 style="color: crimson;">Agents</h2>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
		<br><br>
      
        <!--================Team Area =================-->
        <section class="team_area p_120">
        	<div class="container">
        		<div class="row team_inner">
					{% for i in users %}
						{% if i.is_staff %}
						<div class="col-lg-3 col-sm-6">
							<div class="team_item">
								<div class="team_img">
									<img class="img-fluid" src="{{i.userdetail.image.url}}" alt="">
									<div class="hover">
										{% if i.userdetail.facebook %}<a href="{{ i.userdetail.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %} 
										{% if i.userdetail.tiktok %}<a href="{{ i.userdetail.tiktok }}" ><span class="iconify" data-icon="fa-brands:tiktok" data-inline="false"></span></a>{% endif %}
										{% if i.userdetail.instagram %}<a href="{{ i.userdetail.instagram }}"><i class="fa fa-instagram"></i></a>{% endif %}
										{% if i.userdetail.telegram %}<a href="{{ i.userdetail.telegram }}"><span class="iconify" data-icon="fa-telegram" data-inline="false"></span></a>{% endif %}
									</div>
								</div>
								<div class="team_name">
									<a href="{% url 'agent-detail' i.id %}"><h4>{{ i.first_name }} {{i.last_name}}</h4></a>
									<p>{{ i.userdetail.mobile }}</p>
								</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}
        		</div>
        	</div>
        </section>
        <!--================End Team Area =================-->
        <!--================Feature Area =================-->
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Why we are the best</h2>
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        		</div>
        		<div class="row feature_inner">
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-user"></i>Expert Technicians</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-license"></i>Professional Service</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-phone"></i>Great Support</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-rocket"></i>Technical Skills</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-diamond"></i>Highly Recomended</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-bubble"></i>Positive Reviews</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->

{% endblock content %}
