{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
        {% block title %}
        {% endblock title %}
        <!-- Bootstrap CSS -->
<<<<<<< HEAD
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> {% endcomment %}
=======
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
>>>>>>> origin
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/jquery-ui/jquery-ui.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
    <!--  ===DASTURCHI HAQIDA QISQACHA MA'LUMOT === 
        Bu mening ikkinchi ishim, sizga yoqadi degan umiddaman.
      FIO: O'ktamov Sardorbek Farxodjon o'g'li (HTML5, CSS, LASS, SASS, JS, Bootstrap, Python, Django(Junior))
      Manzil: Farg'ona viloyati Rishton tumani
      tugatgan OTM: TATU Farg`ona filiali 2015-yil (I va AT fakulteti)
      Email: sardorbek.uktamov.1@mail.ru
      TEL-1: +998911576777
      TEL-2: +998993153210
      telegramm: @S_Uktamov
    -->
    <body>
        {% url 'index' as index %}
        {% url 'about' as about %}
        {% url 'properties' as properties %}
        {% url 'agents' as agents %}
        {% url 'elements' as elements %}
        <!-- {% url 'personal' as personal %} -->
        {% url 'blogs' as blogs %}
        {% url 'contact' as contact %}
        {% url 'sign_up' as sign_up %}
        {% url 'sign_in' as sign_in %}
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">

                                <li class="nav-item {% if request.path == index %} active {% endif %}">
<<<<<<< HEAD
                                    <a class="nav-link" href="{% url 'index' %}">bosh sahifa</a></li> 
=======
                                    <a class="nav-link" href="{% url 'index' %}">Home</a></li> 
>>>>>>> origin
                                
								<li class="nav-item {% if request.path == about %} active {% endif %}"><a class="nav-link" href="{% url 'about' %}">biz haqimizda</a></li>
								<li class="nav-item {% if request.path == properties %} active {% endif %}"><a class="nav-link" href="{% url 'properties' %}">Barcha e'lonlar</a></li>
								<li class="nav-item {% if request.path == agents %} active {% endif %}"><a class="nav-link" href="{% url 'agents' %}">bizning jamoa</a></li>
                                {% if request.user.is_authenticated %}
                                  
                                <li class="nav-item submenu dropdown  {% if request.path == elements %} active {% endif %}">
									<a href="#contact" class="nav-link dropdown-toggle active  {% if request.path == elements %} active {% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shaxsiy kabinet</a>
									<ul class="dropdown-menu  {% if request.path == elements %} active {% endif %}">
<<<<<<< HEAD
                                        {% if request.user.is_staff %}
                                        <li class="nav-item active"><a class="nav-link" href="../../{{request.user.username}}">mening e'lonlarim</a></li>
										<li class="nav-item  {% if request.path == elements %} active {% endif %}"><a class="nav-link" href="../../{{request.user.username}}/add_announcement">E'lon berish</a></li>
                                        {% comment %} <li class="nav-item active"><a class="nav-link" href="{% url 'post_new' %}">Post qoldirish</a></li> {% endcomment %}
										{% endif %}
                                        <li class="nav-item  {% if request.path == elements %} active {% endif %}"><a class="nav-link" href="{% url 'profile' %}">Shaxsiy sahifa</a></li>
=======
                                        <li class="nav-item"><a class="nav-link" href="../{{user.username}}">mening e'lonlarim</a></li>
										<li class="nav-item  {% if request.path == elements %} active {% endif %}"><a class="nav-link" href="../{{user.username}}/add_announcement">E'lon berish</a></li>
>>>>>>> origin
									</ul>
                                </li> 
                                
                                {% endif %}
<<<<<<< HEAD
                                 
								<li class="nav-item {% if request.path == blogs  %} active {% endif %}"><a class="nav-link" href="{% url 'blogpost' %}">Blog</a></li>
								
								<li class="nav-item {% if request.path == contact %} active {% endif %}"><a class="nav-link" href="{% url 'contact' %}">Aloqa</a></li>
                                {% if  request.user.is_authenticated %}
=======
								<li class="nav-item submenu dropdown  {% if request.path == blog or request.path == singleblog %} active {% endif %}">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
										<li class="nav-item"><a class="nav-link" href="{% url 'singleblog' %}">Blog Details</a></li>
									</ul>
								</li> 
								<li class="nav-item {% if request.path == contact %} active {% endif %}"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                                {% if  user.is_authenticated %}
>>>>>>> origin
                                <li class="nav-item "><a class="nav-link" href="{% url 'logout' %}">chiqish</a></li>
                                
                                {% else %}
								<li class="nav-item {% if request.path == sign_up %} active {% endif %}"><a class="nav-link" href="{% url 'sign_up' %}">Ro'yxatdan o'tish</a></li>
								<li class="nav-item {% if request.path == sign_in %} active {% endif %}"><a class="nav-link" href="{% url 'sign_in' %}">kirish</a></li>
                                
                                {% endif %}
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
{% block content %}
{% endblock content %}

        <!--================ start footer Area  =================-->	
        <footer class="footer-area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About Us</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Newsletter</h6>
                            <p>Stay updated with our latest trends</p>		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="{% url 'base' %}"  method="POST" class="subscribe_form relative">
                                    {% csrf_token %}
                                    <div class="input-group d-flex flex-row">
                                        <input name="email" placeholder="Email Address" onfocus="this.placeholder = '' " onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        {{formmm}}
                                        <button type="submit" class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">Instagram Feed</h6>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="{% static 'img/instagram/Image-01.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-02.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-03.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-04.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-05.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-06.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-07.jpg' %}" alt=""></li>
                                <li><img src="{% static 'img/instagram/Image-08.jpg' %}" alt=""></li>
                            </ul>
                        </div>
                    </div>	
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget f_social_wd">
                            <h6 class="footer_title">Follow Us</h6>
                            <p>Let us be social</p>
                            <div class="f_social">
                            	<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>						
                </div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-12 footer-text text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="'https://colorlib.com/" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->
        
        
        
        <!-- Optional JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'vendors/jquery-ui/jquery-ui.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        <script type="text/javascript">

            $(document).ready(function(event){
                $('.reply-btn').click(function()
                {
                    $(this).parent().parent().next('.comment-list').fadeToggle()
                });
            });

            $("#post-form").submit(function(e){
                e.preventDefault();
                });
            </script>
    </body>
</html>