{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Bloglar sahifasi</title>
{% endblock title %}


{% block content %}       
        <!--================Home Banner Area =================-->
        <section class="home_banner_area blog_banner">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="blog_b_text text-center">
						<h2>Dude You’re Getting <br /> a Telescope</h2>
						<p>There is a moment in the life of any aspiring astronomer that it is time to buy that first</p>
						<a class="white_bg_btn" href="#">View More</a>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Blog Categorie Area =================-->
        <section class="blog_categorie_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="{% static 'img/blog/cat-post/cat-post-3.jpg' %}" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="#"><h5>Social Life</h5></a>
                                    <div class="border_line"></div>
                                    <p>Enjoy your social life together</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="{% static 'img/blog/cat-post/cat-post-2.jpg' %}" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="#"><h5>Politics</h5></a>
                                    <div class="border_line"></div>
                                    <p>Be a part of politics</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="{% static 'img/blog/cat-post/cat-post-1.jpg' %}" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="#"><h5>Food</h5></a>
                                    <div class="border_line"></div>
                                    <p>Let the food be finished</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Categorie Area =================-->
        
        <!--================Blog Area =================-->
        <section class="blog_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">
                                {% if posts %}
                                {% for post in posts %}
                            <article class="row blog_item">
                               <div class="col-md-3">
                                   <div class="blog_info text-right">
                                        <ul class="blog_meta list">
                                            <li><a href="#">{{post.author.first_name}} {{post.author.last_name}}<i class="lnr lnr-user"></i></a></li>
                                            <li><a href="#">{{post.date|date:"d M Y"}}<i class="lnr lnr-calendar-full"></i></a></li>
                                            <li><a href="#">{{ post.post_view }}Views<i class="lnr lnr-eye"></i></a></li>
                                            <li><a href="#">Comments<i class="lnr lnr-bubble"></i></a></li>
                                        </ul>
                                        <aside >Taglar: 
                                            {% for tag in post.tags.all %}
                                                <a href="{% url 'tagged' tag.slug %}" style="background: rgb(202, 198, 198); color: rgb(0, 0, 0); padding: 3px; ">#{{ tag }}</a>
                                            {% endfor %}
                                            </aside>
                                    </div>
                               </div>
                               
                                <div class="col-md-9">
                                    <div class="blog_post">
                                    
                                        <img src="{{ post.post_img.url }}" alt="">
                                        <div class="blog_details">
                                            <a href="{% url 'blog-detail' post.slug %}"><h2>{{post.title}}</h2></a>
                                            <p>{{post.text_body1|safe |truncatechars:170}}</p>
                                            <a href="{% url 'blog-detail' post.slug %}" class="white_bg_btn">Davomi...</a>
                                        </div>
                                        
                                    </div>
                                </div>
                                                               
                            </article>
                            {% endfor %}
                             {% else %}
                                <h1> blog mavjud emas </h1>
                                {% endif %}
            <div class="col-md-12">

                <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        <li class="page-item">{% if posts.has_previous %}
                            <a href="?page={{posts.previous_page_number}}" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">
                                    <span class="lnr lnr-chevron-left"></span>
                                </span>
                            </a>{% endif %}
                        </li>
                        {% for i in posts.paginator.page_range %}
                            {% if posts.number == i %}
                                <li class="page-item active" style="padding: 4px 12px; color: white; background: #f5204b"><span>{{ i }} </span></li>
                            {% elif i > posts.number|add:'-7' and i < posts.number|add:'7' %}
                            <li class="page-item "><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                            {% endif %}
                        {% endfor %} 
                        <li class="page-item">{% if posts.has_next %}
                            <a href="?page={{posts.next_page_number}}" class="page-link" aria-label="Next">
                                <span aria-hidden="true">
                                    <span class="lnr lnr-chevron-right"></span>
                                </span>
                            </a>{% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="{% url 'search_post' %}" method="get">{% csrf_token %}
                                <div class="input-group">
                                        <input type="search" class="form-control" name="search" placeholder="Post qidirish...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="lnr lnr-magnifier"></i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                <div class="br"></div>
                                </form>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Popular Posts</h3>
                                {% if posts %}
                                    {% for post in posts %}
                                <div class="media post_item">
                                        <img src="{{ post.post_img.url }}" width="100px" alt="post">
                                        <div class="media-body">
                                            <a href="#"><h3>{{ post.title | safe | truncatechars:50 }}</h3></a>
                                            <p>{{post.date|date:"d M Y"}}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="media post_item">
                                    <img src="{% static 'img/blog/popular-post/post2.jpg' %}" alt="post">
                                    <div class="media-body">
                                        <a href="#"><h3>The Amazing Hubble</h3></a>
                                        <p>02 Hours ago</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="{% static 'img/blog/popular-post/post3.jpg' %}" alt="post">
                                    <div class="media-body">
                                        <a href="#"><h3>Astronomy Or Astrology</h3></a>
                                        <p>03 Hours ago</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="{% static 'img/blog/popular-post/post4.jpg' %}" alt="post">
                                    <div class="media-body">
                                        <a href="#"><h3>Asteroids telescope</h3></a>
                                        <p>01 Hours ago</p>
                                    </div>
                                </div>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Postlar Kategoriyalari</h4>
                                <ul class="list cat-list">
                                    {% if categories %}
                                    {% for categorie in categories %}
                                    <li>
                                        <a href="{% url 'post_categorie' categorie.id %}" class="d-flex justify-content-between">
                                            <p>{{categorie.name}}</p>
                                            <p>{{categorie.post_set.all.count}}</p>
                                        </a>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                    															
                                </ul>
                                <div class="br"></div>
                            {% comment %} </aside>
                            <aside class="single-sidebar-widget newsletter_widget">
                                <h4 class="widget_title">Newsletter</h4>
                                <p>
                                Here, I focus on a range of items and features that we use in life without
                                giving them a second thought.
                                </p>
                                <div class="form-group d-flex flex-row">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                                    </div>
                                    <a href="#" class="bbtns">Subcribe</a>
                                </div>	
                                <p class="text-bottom">You can unsubscribe at any time</p>	
                                <div class="br"></div>							
                            </aside> {% endcomment %}
                            <aside class="single-sidebar-widget tag_cloud_widget" >
                                <h4 class="widget_title">Post Taglari</h4>
                                <ul class="list">
                                        {% if common_tags %}
                                        {% for tag in common_tags %}
                                        <li ><a href="{% url 'tagged' tag.slug %}">{{tag}}</a></li>
                                        {% endfor %}
                                        {% endif %}
                                    </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Blog Area =================-->

{% endblock content %}
